@-moz-document url-prefix("chrome-extension://fjnbnpbmkenffdnngjfgmeleoegfcffe") {
body {
	background-color: #141414;
	color: #93a1a1;
}

button,
input,
textarea {
	background-color: #212121;
	color: #93a1a1;
}

input, textarea {
	border: 1px solid #3a3a3a;
}

button {
	border: none;
	padding: 7px;
}

a:link {
	color: #cb4b16;
}

a:visited {
	color: #cb4b16;
}

a:hover {
	color: #eee8d5;
}
}
